*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:#fff;    
}

/* UTILITIES */
.text-center{
    text-align: center;
}

.flexbox{
    display: flex;    
}

.flex-column{
    flex-direction: column;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.active::after{
    display: block;
    content: "";
    margin-left: 36px;
    height: 3px;
    width: 40%;
    background-color: orange;
}

/* ------------------------------------ */

.wrapper{
    height: calc(100vh - 100px);
}

main{
    background-color:#141922;
    flex-grow: 1;
    padding-top: 100px;
    padding-left:15px;
    overflow: auto;
}

header{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 80px;
    position: fixed;
    top:0;
    right:0;
}

.upgrade-button{
    float:right;
    margin: 20px 20px 30px 0;
    line-height:35px;    
    border: 1px solid #fff;
    border-radius: 90px;
    width: 190px;
}

.upgrade-button p{
    padding: 0px 35px;
    vertical-align: middle;    
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: 600;
}

/* SIDEBAR */

.sidebar{    
    width: 230px;
    background-color:#000;    
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    z-index: 1;
    overflow: auto;
}

.top-buttons{
    padding-left: 15px;
}

.big-logo{
    display:none;
}

.description{
    display:none;
}

.home img{
    border-left: 3px solid orange;
}

.playlist{
    display:none;
}

[class*="buttons"]{
    padding: 7px 0;
}

.sidebar img{
    width: 22px;
    height: 25px;
}

.low-buttons .download a img{
    filter: opacity(50%);
    width: 15px;
    height: 15px;
}

.low-buttons .bckg-profile{
    background-color: #707277;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 5px;
    display: inline-block;
}

.low-buttons .my-profile a img{
    width:20px;
    height: 20px;
}

.hidden-hr{
    display:none;
    background-color:#707277;
    height: 1px;
    width: 85%;
}

/* MAIN */

.row{
    min-height: 0;    
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: 700;
    padding-bottom: 30px;
}

.j-center .col-3:nth-child(6),
.j-center .col-3:nth-child(7){
    padding-top: 15px;
}

.col-lg-offset-3{
    display: none;
}

.row [class*="col"] a{
    text-decoration:none;
    color: #707277;
}

main p{
   font-size: 1.2em;
   font-weight: 700;
   padding-bottom: 10px;
}

.album-information .name-album{
    font-size: 1.2em;
    text-transform: capitalize;
}

.custom-playlist .author, 
.most-popular .author{
    font-size: 0.6em;
}

.author{
    color:#707277;
    font-size: 0.9em;
    text-transform: capitalize;
}

 main .row [class*="col-"] div img, 
 main .row [class*="col-"] img{
    width: 95%;
    height: 80%;
    object-fit: contain;
}

.img-container {
    position: relative;
    width: 100%;
    height: 100%;
}


/* OVERLAY SU ALBUM */

.img-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 80%;    
    display: none;
}

.img-container .overlay i{
    font-size: 50px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
/* -------------------- */

.row .col-6{
    justify-content: space-around;
    align-items: center;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius:50%;
    position: relative;
}

.del-rey{
    background-image: url(../img/youg.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.einaudi{
    background-image: url(../img/einaudi.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.del-rey p, 
.einaudi p{
    position: absolute;
    top: 110%;
    left:0;
    text-transform: capitalize;
    font-size: 1em;
}

/* FOOTER */
footer{
    background-color: #282828;
    height:100px;
}

footer .row{
    padding-bottom: 0;
    height: 100%;
}

footer .row [class*="col-"]{
    height:100%;
}

footer .col-3{
    justify-content: space-around;
    align-items: center;
}

.cover-song{
    width: 25%;
    height: 25%;
    object-fit: cover;
}

.information-song p{
    text-transform: capitalize;
    color: #707277;
}

.information-song span{
    display: none;
}

.information-song p:first-child{
    color:#fff;
}

.icons-song .far{
    display: block;
    padding: 3px;
    color: #707277;
    font-size:1.5em;
}

footer .col-6 .commands{
    justify-content: center;
    align-items: center;
}

.commands {
    height: 50%;
}

.commands i{
    font-size:1.8em;
    display:block;
    padding: 0 10px;
}

.commands .fa-play-circle{
    font-size: 3em;
}

.progressbar-song {
    height: 50%;
    align-items: center;
}

.bar-song{
    width:80%;
    height: 5px;
    border-radius: 70px;
    background-color:#707277;
    line-height: 5px;
}

.progressbar-song .listening, 
.progressbar-song .missing{
    margin: 0 7px;
}

.bar-song .listened{
    display: block;
    height: 100%;
    width: 15%;
    background-color: lightgray;
    border-radius: 70px;
}

.row .col-4{
    justify-content: space-around;
    align-items: center;
}

.row .col-4 .icons-song{
    color: #fff;
}

.bar{
    display: block;
    width: 50%;
    height: 5px;
    background-color:#707277;
    border-radius: 70px;
}

.bar .volume{
    display: block;
    width: 15%;
    height: 100%;
    background-color: lightgray;
    border-radius: 70px;
}

.col-3 .fas{
    padding: 0 3px;
}

.icons-song .queue{
    padding-right: 5px;
}

.icons-song .queue i{
    padding: 0;
}

.icons-song .fa-desktop{
    padding-right: 5px;
}


/* EFFETTI CON HOVER */

.upgrade-button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.row [class*="col"]:hover a{
    color: #fff;
}

.j-center [class*="col"]:hover{
    transform: scale(1.2);
}

.top-buttons .home:hover .description, 
.top-buttons .search:hover .description, 
.top-buttons .library:hover .description{
    color:#fff;
}

.playlist p:hover{
    color:#fff;
    cursor: pointer;
}
.low-buttons .download .description:hover{
    color:#fff;
    cursor: pointer;
    }

.icons-song .far:hover{
    color:#fff;
    cursor: pointer;
}

.information-song *:hover{
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

.commands i:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.img-container:hover .overlay{
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}


/* EFFETTI SULLE PROGRESSBAR */

.bar-song .listened:hover{
    background-color: greenyellow;
    cursor: pointer;
}

.bar .volume:hover{
    background-color: greenyellow;
    cursor: pointer;
}
/* ------------------------------------ */


/* MEDIA QUERY */

@media screen and (min-width: 576px){


    /* SIDEBAR CHE COMPARE ALLARGANDO SCHERMO */
    .sidebar{    
        width: 600px;
        align-items:flex-start;
        justify-content: space-between;
    }

    .logo{
        display: none;
    }

    .big-logo{
        display:block;
    }
    .big-logo img{
        width:70px;
        height: 40px;
    }

    .top-buttons div a span{
        display: inline-block;
        font-size: 0.5em;
        font-weight: 600;
        text-decoration: none;
        color: #707277;
        vertical-align: middle;
        line-height: 100%;
        padding-left: 5px;
    }

    .low-buttons div a span{
        display: inline-block;
        font-weight: 600;
        text-decoration: none;
        vertical-align: middle;
        line-height: 100%; 
    }

    .low-buttons .download .description{
        color:#707277;
        font-size: 0.5em;
        padding-left: 5px;
    }


    .low-buttons .my-profile .description{
        color:#fff;
        font-size: 0.6em;
        padding-left: 5px;
    }

    [class*="buttons"] {
        padding: 7px 15px;
    }

    .playlist{
        display:block;
        font-size: 0.8em;
        font-weight: 600;
        padding-top: 20px;

    }

    .playlist .creation-playlist{
        color: #707277;
        font-size: 0.7em;
        padding: 7px 0;
    }

    .playlist .creation-playlist .fas{
        font-size: 2.5em;
        padding-right: 5px;
    }


    .playlist .name-playlist{
        font-size: 0.6em;
        padding: 5px 0;
        color: #707277;        
    }

    .hidden-hr{
        display:block;
        width: 140%;
    }

    /* ------------------------------------- */
}


@media screen and (min-width: 768px){

    .hidden-hr{
        display:block;
        width: 200%;
    }

    .row .col-md:nth-child(6), 
    .row .col-md:nth-child(7){
        padding-top: 25px;
    }

    .row .col-md-3:nth-child(5), 
    .row .col-md-3:nth-child(6){
        padding-top: 30px;
    }

    .sidebar{    
        width: 550px;
    }
}

@media screen and (min-width: 992px){

    .sidebar{    
        width: 450px;
    }

    .big-logo img{
        width:100px;
        height: 60px;
    }


    .hidden-hr{
        display:block;
        width: 250%;
    }

    .col-lg-offset-3{
        display: block;
    }

    .j-center .col-3:nth-child(6),
     .j-center .col-3:nth-child(7){
        padding-top: 0;
    }
    
    .row .col-md-3:nth-child(5), 
    .row .col-md-3:nth-child(6) {
        padding-top: 0;
    }
    
    main .row:nth-child(4){
        padding-bottom: 50px;
    }

    main .row:nth-child(7){
        padding-bottom: 15px;
    }
}


@media screen and (min-width:1200px){
    .sidebar{    
        width: 300px;
    }

    .hidden-hr{
        display:block;
        width: 170%;
    }       

    .information-song p:last-child{
        display:none;
    }

    .information-song span{
        display: inline;
        text-transform: capitalize;
        color: #707277;
    }

    .icons-song .far{
        display: inline;
        padding: 3px;
        color: #707277;
        font-size:1.5em;
    }

    .cover-song{
        width: 30px;
        height: 30px;
    }

     .circle{
        width: 180px;
        height:  180px;
    }

    .del-rey p, .einaudi p {        
        left: 45px;
    }
}


@media screen and (min-width:1400px){
    .sidebar{    
        width: 250px;
    }

    .circle{
        width: 180px;
        height:  180px;
    }

    .del-rey p, .einaudi p {        
        left: 45px;
    }
}
